rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /atas/{id} {
      allow read, write: if true;
    }
    match /cases/{id} {
      allow read, write: if true;
    }
  }
}